<a href="https://colab.research.google.com/github/EdeEsteban/Analitica-de-Datos/blob/main/Analitica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aqui hay que poner la tarea de los párrafos

In [29]:
import numpy as np
import pandas as pd

super_bowl = pd.read_html("https://en.wikipedia.org/wiki/List_of_Super_Bowl_champions")
super_bowls = super_bowl[1]
super_bowls.head()

#Tabla básica

,Game,Date/Season,Winning team,Score,Losing team,Venue,City,Attendance,Referee,Ref
0,I[sb 1],"January 15, 1967 (1966 AFL/1966 NFL)","Green Bay Packersn(1, 1–0)",35–10,"Kansas City Chiefsa(1, 0–1)",Los Angeles Memorial Coliseum,"Los Angeles, California[sb 2]",61946,Norm Schachter,[7][8]
1,II[sb 1],"January 14, 1968 (1967 AFL/1967 NFL)","Green Bay Packersn(2, 2–0)",33–14,"Oakland Raidersa(1, 0–1)",Miami Orange Bowl,"Miami, Florida[sb 3]",75546,Jack Vest,[9][8]
2,III[sb 1],"January 12, 1969 (1968 AFL/1968 NFL)","New York Jetsa(1, 1–0)",16–7,"Baltimore Coltsn(1, 0–1)",Miami Orange Bowl (2),"Miami, Florida (2)[sb 3]",75389,Tom Bell,[10][8]
3,IV[sb 1],"January 11, 1970 (1969 AFL/1969 NFL)","Kansas City Chiefsa(2, 1–1) [S]",23–7,"Minnesota Vikingsn(1, 0–1)",Tulane Stadium,"New Orleans, Louisiana",80562,John McDonough,[11][8]
4,V,"January 17, 1971 (1970)","Baltimore ColtsA(2, 1–1)",16–13,"Dallas CowboysN(1, 0–1)",Miami Orange Bowl (3),"Miami, Florida (3)[sb 3]",79204,Norm Schachter,[12][8]

In [30]:
super_bowls.pop('Ref')
super_bowls.head()

,Game,Date/Season,Winning team,Score,Losing team,Venue,City,Attendance,Referee
0,I[sb 1],"January 15, 1967 (1966 AFL/1966 NFL)","Green Bay Packersn(1, 1–0)",35–10,"Kansas City Chiefsa(1, 0–1)",Los Angeles Memorial Coliseum,"Los Angeles, California[sb 2]",61946,Norm Schachter
1,II[sb 1],"January 14, 1968 (1967 AFL/1967 NFL)","Green Bay Packersn(2, 2–0)",33–14,"Oakland Raidersa(1, 0–1)",Miami Orange Bowl,"Miami, Florida[sb 3]",75546,Jack Vest
2,III[sb 1],"January 12, 1969 (1968 AFL/1968 NFL)","New York Jetsa(1, 1–0)",16–7,"Baltimore Coltsn(1, 0–1)",Miami Orange Bowl (2),"Miami, Florida (2)[sb 3]",75389,Tom Bell
3,IV[sb 1],"January 11, 1970 (1969 AFL/1969 NFL)","Kansas City Chiefsa(2, 1–1) [S]",23–7,"Minnesota Vikingsn(1, 0–1)",Tulane Stadium,"New Orleans, Louisiana",80562,John McDonough
4,V,"January 17, 1971 (1970)","Baltimore ColtsA(2, 1–1)",16–13,"Dallas CowboysN(1, 0–1)",Miami Orange Bowl (3),"Miami, Florida (3)[sb 3]",79204,Norm Schachter

In [31]:
super_bowls[:-1]
super_bowls.tail()

,Game,Date/Season,Winning team,Score,Losing team,Venue,City,Attendance,Referee
52,LIII,"February 3, 2019 (2018)","New England PatriotsA(11, 6–5)",13–3,"Los Angeles RamsN(4, 1–3)",Mercedes-Benz Stadium,"Atlanta, Georgia (3)",70081,John Parry
53,LIV,"February 2, 2020 (2019)","Kansas City ChiefsA(3, 2–1)",31–20,"San Francisco 49ersN(7, 5–2)",Hard Rock Stadium (6)[sb 12],"Miami Gardens, Florida (11)[sb 3]",62417,Bill Vinovich
54,LV,"February 7, 2021 (2020)","Tampa Bay BuccaneersN(2, 2–0) [W]",31–9,"Kansas City ChiefsA(4, 2–2)",Raymond James Stadium (3),"Tampa, Florida (5)",24835,Carl Cheffers
55,LVI,"February 13, 2022 (2021)","Los Angeles RamsN(5, 2–3)",23–20,"Cincinnati BengalsA(3, 0–3)",SoFi Stadium,"Inglewood, California (8)[sb 2]",70048,Ron Torbert
56,Game,Date/Season,Winning team,Score,Losing team,Venue,City,Attendance,Referee

In [3]:
def Borrar(X):
  n = 1
  while n !=20:
    X=X.replace(f"[sb {n}]", "")
    X=X.replace(f"({n})", "")
    X=X.replace(f"[W]", "")
    X=X.replace(f"[S]", "")
    #X=X.replace(r"\(.*\)","")
    n+=1
  return X

super_bowls.Game = super_bowls.Game.apply(Borrar)
super_bowls.City = super_bowls.City.apply(Borrar)
super_bowls.Venue = super_bowls.Venue.apply(Borrar)
super_bowls["Winning team"] = super_bowls["Winning team"].apply(Borrar)
super_bowls["Losing team"] = super_bowls["Losing team"].apply(Borrar)
#super_bowls["Date/Season"] = super_bowls["Date/Season"].apply(Borrar)

super_bowls["Winning team"] = super_bowls["Winning team"].str.replace(r"\(.*\)","")
super_bowls["Losing team"] = super_bowls["Losing team"].str.replace(r"\(.*\)","")
super_bowls["Date/Season"] = super_bowls["Date/Season"].str.replace(r"\(.*\)","")
super_bowls["Score"] = super_bowls["Score"].str.replace(r"\(.*\)","")


super_bowls

#Borrar basura parte 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: FutureWarning: The default value of regex will change from True to False in a future version.

,Game,Date/Season,Winning team,Score,Losing team,Venue,City,Attendance,Referee
0,I,"January 15, 1967",Green Bay Packersn,35–10,Kansas City Chiefsa,Los Angeles Memorial Coliseum,"Los Angeles, California",61946,Norm Schachter
1,II,"January 14, 1968",Green Bay Packersn,33–14,Oakland Raidersa,Miami Orange Bowl,"Miami, Florida",75546,Jack Vest
2,III,"January 12, 1969",New York Jetsa,16–7,Baltimore Coltsn,Miami Orange Bowl,"Miami, Florida",75389,Tom Bell
3,IV,"January 11, 1970",Kansas City Chiefsa,23–7,Minnesota Vikingsn,Tulane Stadium,"New Orleans, Louisiana",80562,John McDonough
4,V,"January 17, 1971",Baltimore ColtsA,16–13,Dallas CowboysN,Miami Orange Bowl,"Miami, Florida",79204,Norm Schachter
5,VI,"January 16, 1972",Dallas CowboysN,24–3,Miami DolphinsA,Tulane Stadium,"New Orleans, Louisiana",81023,Jim Tunney
6,VII,"January 14, 1973",Miami DolphinsA,14–7,Washington RedskinsN,Los Angeles Memorial Coliseum,"Los Angeles, California",90182,Tom Bell
7,VIII,"January 13, 1974",Miami DolphinsA,24–7,Minnesota VikingsN,Rice Stadium,"Houston, Texas",71882,Ben Dreith
8,IX,"January 12, 1975",Pittsburgh SteelersA,16–6,Minnesota VikingsN,Tulane Stadium,"New Orleans, Louisiana",80997,Bernie Ulman
9,X,"January 18, 1976",Pittsburgh SteelersA,21–17,Dallas CowboysN,Miami Orange Bowl,"Miami, Florida",80187,Norm Schachter
10,XI,"January 9, 1977",Oakland RaidersA,32–14,Minnesota VikingsN,Rose Bowl,"Pasadena, California",103438,Jim Tunney
11,XII,"January 15, 1978",Dallas CowboysN,27–10,Denver BroncosA,Louisiana Superdome,"New Orleans, Louisiana",76400,Jim Tunney
12,XIII,"January 21, 1979",Pittsburgh SteelersA,35–31,Dallas CowboysN,Miami Orange Bowl,"Miami, Florida",79484,Pat Haggerty
13,XIV,"January 20, 1980",Pittsburgh SteelersA,31–19,Los Angeles RamsN,Rose Bowl,"Pasadena, California",103985,Fred Silva
14,XV,"January 25, 1981",Oakland RaidersA,27–10,Philadelphia EaglesN,Louisiana Superdome,"New Orleans, Louisiana",76135,Ben Dreith
15,XVI,"January 24, 1982",San Francisco 49ersN,26–21,Cincinnati BengalsA,Pontiac Silverdome,"Pontiac, Michigan",81270,Pat Haggerty
16,XVII,"January 30, 1983",Washington RedskinsN,27–17,Miami DolphinsA,Rose Bowl,"Pasadena, California",103667,Jerry Markbreit
17,XVIII,"January 22, 1984",Los Angeles RaidersA,38–9,Washington RedskinsN,Tampa Stadium,"Tampa, Florida",72920,Gene Barth
18,XIX,"January 20, 1985",San Francisco 49ersN,38–16,Miami DolphinsA,Stanford Stadium,"Stanford, California",84059,Pat Haggerty
19,XX,"January 26, 1986",Chicago BearsN,46–10,New England PatriotsA,Louisiana Superdome,"New Orleans, Louisiana",73818,Red Cashion
20,XXI,"January 25, 1987",New York GiantsN,39–20,Denver BroncosA,Rose Bowl,"Pasadena, California",101063,Jerry Markbreit
21,XXII,"January 31, 1988",Washington RedskinsN,42–10,Denver BroncosA,San Diego–Jack Murphy Stadium,"San Diego, California",73302,Bob McElwee
22,XXIII,"January 22, 1989",San Francisco 49ersN,20–16,Cincinnati BengalsA,Joe Robbie Stadium,"Miami, Florida",75129,Jerry Seeman
23,XXIV,"January 28, 1990",San Francisco 49ersN,55–10,Denver BroncosA,Louisiana Superdome,"New Orleans, Louisiana",72919,Dick Jorgensen
24,XXV,"January 27, 1991",New York GiantsN,20–19,Buffalo BillsA,Tampa Stadium,"Tampa, Florida",73813,Jerry Seeman
25,XXVI,"January 26, 1992",Washington RedskinsN,37–24,Buffalo BillsA,Metrodome,"Minneapolis, Minnesota",63130,Jerry Markbreit
26,XXVII,"January 31, 1993",Dallas CowboysN,52–17,Buffalo BillsA,Rose Bowl,"Pasadena, California",98374,Dick Hantak
27,XXVIII,"January 30, 1994",Dallas CowboysN,30–13,Buffalo BillsA,Georgia Dome,"Atlanta, Georgia",72817,Bob McElwee
28,XXIX,"January 29, 1995",San Francisco 49ersN,49–26,San Diego ChargersA,Joe Robbie Stadium,"Miami, Florida",74107,Jerry Markbreit
29,XXX,"January 28, 1996",Dallas CowboysN,27–17,Pittsburgh SteelersA,Sun Devil Stadium,"Tempe, Arizona",76347,Red Cashion
30,XXXI,"January 26, 1997",Green Bay PackersN,35–21,New England PatriotsA,Louisiana Superdome,"New Orleans, Louisiana",72301,Gerry Austin
31,XXXII,"January 25, 1998",Denver BroncosA,31–24,Green Bay PackersN,Qualcomm Stadium,"San Diego, California",68912,Ed Hochuli
32,XXXIII,"January 31, 1999",Denver BroncosA,34–19,Atlanta FalconsN,Pro Player Stadium,"Miami, Florida",74803,Bernie Kukar
33,XXXIV,"January 30, 2000",St. Louis RamsN,23–16,Tennessee TitansA,Georgia Dome,"Atlanta, Georgia",72625,Bob McElwee
34,XXXV,"January 28, 2001",Baltimore RavensA,34–7,New York GiantsN,Raymond James Stadium,"Tampa, Florida",71921,Gerry Austin
35,XXXVI,"February 3, 2002",New England PatriotsA,20–17,St. Louis RamsN,Louisiana Superdome,"New Orleans, Louisiana",72922,Bernie Kukar
36,XXXVII,"January 26, 2003",Tampa Bay BuccaneersN,48–21,Oakland RaidersA,Qualcomm Stadium,"San Diego, California",67603,Bill Carollo
37,XXXVIII,"February 1, 2004",New England PatriotsA,32–29,Carolina PanthersN,Reliant Stadium,"Houston, Texas",71525,Ed Hochuli
38,XXXIX,"February 6, 2005",New England PatriotsA,24–21,Philadelphia EaglesN,Alltel Stadium,"Jacksonville, Florida",78125,Terry McAulay
39,XL,"February 5, 2006",Pittsburgh SteelersA,21–10,Seattle SeahawksN,Ford Field,"Detroit, Michigan",68206,Bill Leavy
40,XLI,"February 4, 2007",Indianapolis ColtsA,29–17,Chicago BearsN,Dolphin Stadium,"Miami Gardens, Florida",74512,Tony Corrente
41,XLII,"February 3, 2008",New York GiantsN,17–14,New England PatriotsA,University of Phoenix Stadium,"Glendale, Arizona",71101,Mike Carey
42,XLIII,"February 1, 2009",Pittsburgh SteelersA,27–23,Arizona CardinalsN,Raymond James Stadium,"Tampa, Florida",70774,Terry McAulay
43,XLIV,"February 7, 2010",New Orleans SaintsN,31–17,Indianapolis ColtsA,Sun Life Stadium,"Miami Gardens, Florida",74059,Scott Green
44,XLV,"February 6, 2011",Green Bay PackersN,31–25,Pittsburgh SteelersA,Cowboys Stadium,"Arlington, Texas",103219,Walt Anderson
45,XLVI,"February 5, 2012",New York GiantsN,21–17,New England PatriotsA,Lucas Oil Stadium,"Indianapolis, Indiana",68658,John Parry
46,XLVII,"February 3, 2013",Baltimore RavensA,34–31,San Francisco 49ersN,Mercedes-Benz Superdome,"New Orleans, Louisiana",71024,Jerome Boger
47,XLVIII,"February 2, 2014",Seattle SeahawksN,43–8,Denver BroncosA,MetLife Stadium,"East Rutherford, New Jersey",82529,Terry McAulay
48,XLIX,"February 1, 2015",New England PatriotsA,28–24,Seattle SeahawksN,University of Phoenix Stadium,"Glendale, Arizona",70288,Bill Vinovich
49,50,"February 7, 2016",Denver BroncosA,24–10,Carolina PanthersN,Levi's Stadium,"Santa Clara, California",71088,Clete Blakeman
50,LI,"February 5, 2017",New England PatriotsA,34–28,Atlanta FalconsN,NRG Stadium,"Houston, Texas",70807,Carl Cheffers
51,LII,"February 4, 2018",Philadelphia EaglesN,41–33,New England PatriotsA,U.S. Bank Stadium,"Minneapolis, Minnesota",67612,Gene Steratore
52,LIII,"February 3, 2019",New England PatriotsA,13–3,Los Angeles RamsN,Mercedes-Benz Stadium,"Atlanta, Georgia",70081,John Parry
53,LIV,"February 2, 2020",Kansas City ChiefsA,31–20,San Francisco 49ersN,Hard Rock Stadium,"Miami Gardens, Florida",62417,Bill Vinovich
54,LV,"February 7, 2021",Tampa Bay BuccaneersN,31–9,Kansas City ChiefsA,Raymond James Stadium,"Tampa, Florida",24835,Carl Cheffers
55,LVI,"February 13, 2022",Los Angeles RamsN,23–20,Cincinnati BengalsA,SoFi Stadium,"Inglewood, California",70048,Ron Torbert
56,Game,Date/Season,Winning team,Score,Losing team,Venue,City,Attendance,Referee

In [ ]:
Audiencia = super_bowls['Attendance']
Audiencia.describe()

count        57
unique       57
top       61946
freq          1
Name: Attendance, dtype: object

In [ ]:
super_bowls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Game         57 non-null     object
 1   Date/Seaon   57 non-null     object
 2   Winningteam  57 non-null     object
 3   Score        57 non-null     object
 4   Loingteam    57 non-null     object
 5   Venue        57 non-null     object
 6   City         57 non-null     object
 7   Attendance   57 non-null     object
 8   Referee      57 non-null     object
dtypes: object(9)
memory usage: 4.1+ KB

In [28]:
#SEGUNDA BASE DE DATOS

rating = pd.read_html("https://en.wikipedia.org/wiki/Super_Bowl_television_ratings")
ratings = rating[0]
ratings.head()

  SuperBowl              Date Network Avg. viewers(millions)  \
  SuperBowl              Date Network Avg. viewers(millions)
0         I  January 15, 1967     CBS              26.75[14]
1         I  January 15, 1967     NBC              24.43[14]
2        II  January 14, 1968     CBS              39.12[14]
3       III  January 12, 1969     NBC              41.66[14]
4        IV  January 11, 1970     CBS              44.27[14]

  Total viewers(millions) Households         18–49 demographic            \
  Total viewers(millions)     Rating   Share            Rating     Share
0               39.90[15]   22.6[14]  43[14]          Un­known  Un­known
1               35.60[15]   18.5[14]  36[14]          Un­known  Un­known
2               51.30[15]   36.8[14]  68[14]          Un­known  Un­known
3               54.50[15]   36.0[14]  70[14]          Un­known  Un­known
4               59.20[15]   39.4[14]  69[14]          Un­known  Un­known

  Avg. cost of 30-second ad
                   Original 2021 inflation-adjusted[13]
0               $42,500[14]                    $345,551
1               $37,500[14]                    $304,898
2               $54,500[14]                    $425,160
3               $55,000[14]                    $406,952
4               $78,200[14]                    $546,434

In [34]:
#TERCERA BASE DE DATOS

medio = pd.read_html("https://en.wikipedia.org/wiki/List_of_Super_Bowl_halftime_shows")
medio_tiempo1 = medio[0]
medio_tiempo1.head()

#Hay que unir todas las tablas

,Super Bowl,Date,Location,Theme,Performer(s),Producer,Setlist,Ref.
0,I,"January 15, 1967","Los Angeles Memorial Coliseum(Los Angeles, Cal...",—,University of Arizona Symphonic Marching Band ...,Tommy Walker,(The University of Arizona Symphonic Marching ...,[13][14][15]
1,II,"January 14, 1968","Miami Orange Bowl(Miami, Florida)",—,Grambling State University Marching Band,—,—,[13]
2,III,"January 12, 1969","Miami Orange Bowl(Miami, Florida)",America Thanks,Florida A&M University band Miami-area high sc...,—,—,[13]

In [35]:
medio_tiempo2 = medio[1]
medio_tiempo2.head()

,Super Bowl,Date,Location,Theme,Performer(s),Producer,Sponsor,Setlist,Ref.
0,IV,"January 11, 1970","Tulane Stadium(New Orleans, Louisiana)",Tribute to Mardi Gras,Marguerite Piazza Doc Severinsen Al Hirt Lione...,—,—,"""Do You Know What It Means to Miss New Orleans...",[13]
1,V(show),"January 17, 1971","Miami Orange Bowl(Miami, Florida)",—,Southeast Missouri State Marching BandAnita Br...,—,—,—,[13][16][17][18]
2,VI,"January 16, 1972","Tulane Stadium(New Orleans, Louisiana)",Salute to Louis Armstrong,Ella Fitzgerald Carol Channing Al Hirt USAFA C...,Jim Skinner,—,"""Mack the Knife"" (Ella Fitzgerald and Al Hirt)",[13][19]
3,VII,"January 14, 1973","Los Angeles Memorial Coliseum(Los Angeles, Cal...",Happiness Is,University of Michigan Marching Band Woody Her...,Tommy Walker,—,"(partial) ""Put on a Happy Face"" (University of...",[13][20][21]
4,VIII,"January 13, 1974","Rice Stadium(Houston, Texas)",A Musical America,University of Texas Longhorn Band Judy Mallett...,Jim Skinner,—,—,[13]